<!-- Page Content -->
<div class="container">
    <!-- Page Heading -->
    <h3 class="my-4">{{title}}</h3>
    <!-- Page Features -->
    <div class="row text-center"> 
      
      <div class="col-lg-2 col-md-3 mb-4" *ngFor="let item of items | async">  
        <div class="card h-100">
          <h6 class="card-header">
          {{item.userProfile.name | uppercase}}<hr><small class="text-muted">{{item.userProfile.location | uppercase}}</small></h6>
          <img class="card-img-top" src="images/items/{{item._id}}" alt="No photo available" 
            onerror="this.onerror=null;this.src='images/noPhoto.jpg';"/>
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
          </div>
          <div class="card-footer">
            <a [routerLink]="['/trade-item',item._id]" class="btn btn-success btn-sm"><i class="fa fa-handshake-o" aria-hidden="true"></i> Trade!</a>
            <a [routerLink]="['/request-item',item._id]" class="btn btn-primary btn-sm"><i class="fa fa-comment" aria-hidden="true"></i> Send Request</a>
          </div>
        </div>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
  