<!-- Page Content -->
<div class="container">
  <!-- Page Heading -->
  <h3 class="my-4">{{title}}
        <a [routerLink]="['/item-create']" class="btn btn-outline-default btn-lg">  
          <i class="fa fa-plus" aria-hidden="true"></i></a>
  </h3>
  <!-- Page Features -->
  <div class="row text-center" *ngFor="let rowItems of (items | split:4)"> 
    
    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let item of rowItems[0]">
        
      <div class="card">
        <!--todo: change to asset ng directory -->
        <img class="card-img-top" src="/assets/default_images/noPhoto.jpg" alt="No photo available" height="325" width="500">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">Condition:{{item.condition}}</p>
        </div>
        <div class="card-footer">
          
          <a [routerLink]="['/item-trade',item._id]" class="btn btn-success"><i class="fa fa-handshake-o" aria-hidden="true"></i> Trade!</a>
          <a [routerLink]="['/item-edit', item._id]"  class="btn btn-secondary"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
          
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
