<!-- Page Content -->
<div class="container">
  <!-- Page Heading -->
  <h3 class="my-4">{{title}}
        <a [routerLink]="['../item-create']" class="btn btn-outline-default btn-lg">  
        <i class="fa fa-plus" aria-hidden="true"></i></a>
  </h3>
  <!-- Page Features -->
  <div class="row text-center"> 
    
    <div class="col-lg-3 col-md-3 mb-4" *ngFor="let item of items | async">  
      <div class="card h-100">
          <img class="card-img-top" src="images/items/{{item._id}}.jpg" alt="No photo available" 
            onerror="this.onerror=null;this.src='images/noPhoto.jpg';"/>
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
          </div>
          <div class="card-footer">
            <a [routerLink]="['../item-qrcode', item._id]"  class="btn btn-secondary btn-sm">
              <i class="fa fa-qrcode" aria-hidden="true"></i> QR Code</a>
            <a class="btn btn-danger btn-sm" (click)="deleteItem(item._id)">
              <i class="fa fa-trash-o"></i> Delete</a>  
          </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
