<body>
    <!-- optional for facebook login button: https://developers.facebook.com/docs/facebook-login/web/login-button  -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/market']">
            <img src="/assets/brand/market_stand2.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            coMarket
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"  routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/personal/my-store']">My Store</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/personal/profile']">Profile</a>
            </li>
          </ul>
          <span *ngIf="authService.isLoggedIn">
            <span class="navbar-text">Welcome {{authService.userProfile.facebook.name}} </span>
            <span><button (click)="logout()" class="btn btn-danger btn-sm"><span class="fa fa-facebook"></span> Logout</button></span>
          </span>
          <span *ngIf="!(authService.isLoggedIn)">
            <span class="navbar-text">Login with: </span>
            <span><button (click)="login()" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</button></span>
          </span>
          
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer class="py-5" style="background-color: #f5f5f5;">
      <div class="container">
        <p class="m-0 text-center">Copyright &copy; coMarket 2017</p>
      </div>
      <!-- /.container -->
    </footer>
    

        <!-- Bootstrap core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


</body>

