<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Market for trading everything">
    <meta name="author" content="saar">

    <title>coMarket</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <!-- load fontawesome --> 
    <!--<script src="https://use.fontawesome.com/adc2c523d8.js"></script>-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  </head>

  <body>
    <!-- optional for facebook login button: https://developers.facebook.com/docs/facebook-login/web/login-button  -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/market']">
            <img src="/assets/brand/market_stand2.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            coMarket
          </a>
        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Store
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <span *ngIf="user">
            <span class="navbar-text">Welcome {{user.facebook.name}} </span>
            <span><a href="/api/user/logout" class="btn btn-danger btn-sm"><span class="fa fa-facebook"></span> Logout</a></span>
          </span>
          <span *ngIf="!(user)">
            <span class="navbar-text">Login with: </span>
            <span><a href="/api/user/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a></span>
          </span>
          
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer class="py-5" style="background-color: #f5f5f5;">
      <div class="container">
        <p class="m-0 text-center">Copyright &copy; coMarket 2017</p>
      </div>
      <!-- /.container -->
    </footer>
    

        <!-- Bootstrap core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


  </body>
</html>

